page-employee-details {
    p {
        white-space: normal;
        font-size: 1.6rem !important;     
    }

    .list-header-md {
        border-top: none;
        max-width: 100px;
        float: left;
    }

    .list-header-ios {
        text-transform: none;
        letter-spacing: inherit;
        font-weight: inherit;
        font-size: 1.3rem;
    }

    ion-list .checklist  {
        margin: 0;
    }
    
    ion-list .checklist, .item-radio .inner-item {
        max-width: 150px;
    }
}
